.App {
    background-color: yellow;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}


.App>.Header {
    grid-row: 1 span;
    grid-column: 12 span;
    background-color: green;
}

.App>.Menu {
    grid-row: 10 span;
    grid-column: 2 span;
    background-color: royalblue;
}

.App>.Main {
    grid-row: 10 span;
    grid-column: 10 span;
    background-color: rosybrown;
}

.App>.Footer {
    grid-row: 1 span;
    grid-column: 12 span;
    background-color: salmon;
}